<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- hibernate 和spring整合部分  **************************************** -->
    <!-- 配置c3p0连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 注入属性 -->
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/xxadj?useSSL=false"/>
        <property name="user" value="root"/>
        <property name="password" value="363491343"/>
    </bean>

    <!-- sessionFactory 创建交个spring管理 -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!-- 因为在hibernate配置文件中没有数据库配置，数据库配置在spring里面，注入dataSource -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 指定hibernate核心配置文件 -->
        <property name="configLocations" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <!-- 注入dataSource -->
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- 开启事务注解 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- struts2和spring整合部分  **************************************** -->

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <import resource="classpath:entity/user.xml"/>
    <import resource="classpath:entity/order.xml"/>
    <import resource="classpath:entity/orders.xml"/>
    <import resource="classpath:entity/message.xml"/>
    <import resource="classpath:entity/Authentication.xml"/>

</beans>























